.page {
  height: 100%;
  position: relative;
}
.page .box {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page .box .logo-box {
  margin-bottom: 200rpx;
}
.page .box .logo-box .img-box {
  width: 100rpx;
  height: 100rpx;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.page .box .logo-box .img-box image {
  width: 100%;
  height: 100%;
}
.page .box .input-box .item {
  padding: 10rpx 0;
  display: flex;
}
.page .box .input-box .item text {
  font-size: 28rpx;
  height: 60rpx;
  line-height: 60rpx;
  color: #666666;
  margin-right: 10rpx;
  display: inline-block;
  width: 130rpx;
  text-align: right;
}
.page .box .input-box .item input {
  flex: 1;
  font-size: 28rpx;
  height: 58rpx;
  line-height: 58rpx;
  color: #333333;
  border: 1rpx solid #eeeeee;
  padding: 0 20rpx;
  border-radius: 8rpx;
}
.page .box .input-box .item .input-idcode {
  border-right: 0;
  border-radius: 8rpx 0 0 8rpx;
  vertical-align: middle;
}
.page .box .input-box .item button {
  vertical-align: middle;
  height: 60rpx;
  line-height: 60rpx;
  font-size: 24rpx;
  border-radius: 0 8rpx 8rpx 0;
}
.page .box .btn-box {
  margin-top: 80rpx;
}
.page .box .btn-box button {
  width: 100%;
  height: 80rpx;
  line-height: 80rpx;
  padding: 0;
  font-size: 28rpx;
  background: #E64340;
}
.page .box .btn-box button:active {
  background: #fa5151;
}
.page .box .other-box text {
  height: 40rpx;
  line-height: 40rpx;
  font-size: 24rpx;
  color: #999999;
}
.page .box .other-box .left {
  float: left;
}
.page .box .other-box .right {
  float: right;
  color: #23a0ff;
}
.page .box2 .logo-box {
  margin-bottom: 20rpx;
}
.page .box2 .title {
  height: 40rpx;
  line-height: 40rpx;
  font-size: 32rpx;
  text-align: center;
  font-weight: bolder;
}
.page .box2 .subtitle {
  height: 40rpx;
  line-height: 40rpx;
  font-size: 28rpx;
  color: #999999;
  text-align: center;
  margin-bottom: 200rpx;
}
.page .box2 .btn-box {
  margin-top: 80rpx;
}
.page .box2 .btn-box button {
  width: 100%;
  height: 80rpx;
  line-height: 80rpx;
  padding: 0;
  font-size: 28rpx;
  background: #E64340;
}
.page .box2 .btn-box button:active {
  background: #fa5151;
}
.page .pop {
  position: fixed;
  width: 0%;
  height: 0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  opacity: 0;
  overflow: hidden;
}
.page .pop .pop-box {
  position: relative;
  width: 100%;
  height: 100%;
}
.page .pop .pop-box .black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.page .pop .pop-box .authorize-pop {
  position: absolute;
  width: 460rpx;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  z-index: 1000;
  border-radius: 8rpx;
  overflow: hidden;
  text-align: center;
}
.page .pop .pop-box .authorize-pop .pop-title {
  height: 80rpx;
  line-height: 80rpx;
  font-size: 32rpx;
  font-weight: bolder;
  border-bottom: 1px solid #eeeeee;
}
.page .pop .pop-box .authorize-pop .pop-content {
  padding: 30rpx;
  line-height: 40rpx;
  font-size: 28rpx;
}
.page .pop .pop-box .authorize-pop .pop-btn {
  border-top: 1px solid #eeeeee;
  display: flex;
}
.page .pop .pop-box .authorize-pop .pop-btn .left,
.page .pop .pop-box .authorize-pop .pop-btn .right {
  flex: 1;
  height: 80rpx;
  line-height: 80rpx;
  font-size: 28rpx;
  font-weight: bolder;
}
.page .pop .pop-box .authorize-pop .pop-btn .left {
  color: #666666;
}
.page .pop .pop-box .authorize-pop .pop-btn .right {
  padding: 0;
  color: #ffffff;
  background: #E64340;
  border-radius: 0;
}
.page .pop .pop-box .authorize-pop .pop-btn .right:active {
  background: #fa5151;
}
